<div class="card mx-auto text-center border-light" style="width: 18rem;">
    <img src="assets/ProfilePic.png" class="card-img-top" alt="Angular logo">
    <div class="card-body">
        <h5 class="card-title">Code With Furqan</h5>
        <p class="card-text">
            I am a software engineer with 3+ years of experience. I am currently working
            in Netsol Technologies as a Full-Stack software Engineer. I have worked on 
            multiple software development technologies including C#, Javascript, Asp .Net Core 3.1+,
            Angular11+, Microservices, Design Patterns, MEAN Stack. I am an aspiring software architect.
        </p>
        <a href="https://angular.io/" target="_blank" class="card-link">Angular</a>
        <a href="https://scully.io/" target="_blank" class="card-link">Scully</a>
    </div>
</div>